env
venv/

notes

db.sqlite3

.idea

media/

claimant/__pycache__/
claimant/migrations/__pycache__/

item_found/__pycache__/
item_found/migrations/__pycache__/

item_lost/__pycache__/
item_lost/migrations/__pycache__/

lostandfound/__pycache__/

LostandfoundAdmin/__pycache__/
LostandfoundAdmin/migrations/__pycache__/

template/found/claimant-form.html

template/claimant/claimant-home.html