{% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/foundForm.css'%}">

<main>

    <section>
        <div class="container" id="main-container">
            <div class="image">
                <img src="{% static 'images/found.jpg'%}" alt="">
            </div>

            <div class="container p-5 mt-5" id="form-container">

                <h1 class="text-center">Found <i class="far fa-smile-beam"></i></h1>

                <form class="mt-4" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-primary" id="inputGroup-sizing-default" required>Name</span>
                        </div>
                        <input type="text" class="form-control" name='name' aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-primary" id="inputGroup-sizing-default" required>Register Number</span>
                        </div>
                        <input type="number" class="form-control" name='register' aria-label="Default " aria-describedby="inputGroup-sizing-default ">
                    </div>
                    <div class="input-group mb-4 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text bg-primary " id="inputGroup-sizing-default " required>Department</span>
                        </div>
                        <input type="text " class="form-control " name='dept' aria-label="Default " aria-describedby="inputGroup-sizing-default ">
                    </div>
                    <div class="input-group mb-4 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text bg-primary " id="inputGroup-sizing-default " required>Item</span>
                        </div>
                        <input type="text " class="form-control " name='item' aria-label="Default " aria-describedby="inputGroup-sizing-default ">
                    </div>

                    <div class="input-group mb-4 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text bg-primary " id="inputGroup-sizing-default " required>item Category</span>
                        </div>
                        <input type="text " class="form-control " name='category' aria-label="Default " aria-describedby="inputGroup-sizing-default ">
                    </div>

                    <div class="input-group mb-4 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text bg-primary " id="inputGroup-sizing-default " required>Location</span>
                        </div>
                        <input type="text " placeholder="If you remember " name='location ' class="form-control " aria-label="Default " aria-describedby="inputGroup-sizing-default ">
                    </div>
                    <div class="input-group mb-4 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text bg-primary " id="inputGroup-sizing-default " required>Date</span>
                        </div>
                        <input type="date" name='date' class="form-control " aria-label="Default " aria-describedby="inputGroup-sizing-default ">
                    </div>
                    <div class="input-group mb-4 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text bg-primary " id="inputGroup-sizing-default " required>Time</span>
                        </div>
                        <input type="time " class="form-control " name='time' aria-label="Default " aria-describedby="inputGroup-sizing-default ">
                    </div>
                    <div class="input-group mb-4 ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text bg-primary ">Message</span>
                        </div>
                        <textarea class="form-control " name='message' placeholder="Your Message Here... " aria-label="With textarea "></textarea>
                    </div>

                    <!-- <div class="form-check mb-5 ">
                        <input type="checkbox" class="form-check-input " id="exampleCheck1 ">
                        <label class="form-check-label " name='agree' for="exampleCheck1"><a href="# ">Agree terms and conditions</a></label>
                    </div> -->
                    <div class="submit-button text-center ">
                        <button type="submit " class="btn btn-outline-primary ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
{% endblock content %}