<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lostandfound</title>
    <link rel="stylesheet" href="/static/css/found/found.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="navbar1" align="left">

            <a href="#"><i class="fa fa-fw fa-home"></i> Home</a>
            <a class="active" href="#"><i class="fa fa-fw fa-search"></i> Found</a>
            <a href="#"><i class="fa fa-fw fa-envelope"></i> Lost</a>
            <a href="#"><i class="fa fa-fw fa-user-plus"></i> SignUp</a>
            <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
        </div>
    </header>

    <h1 align="center">All Found Items Here</h1>

    <div class="row">
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card">
                <img src="https://source.unsplash.com/1600x900/?books" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Claim item</a>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="https://source.unsplash.com/1600x900/?earphone" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">5Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Claim item</a>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="https://source.unsplash.com/1600x900/?football" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Claim item</a>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="https://source.unsplash.com/1600x900/?phone" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Claim item</a>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="https://source.unsplash.com/1600x900/?chess" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Claim item</a>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">Christ University's Lost and Found service reflects our commitment to
                        fostering a supportive and responsible community environment. We believe that by helping
                        individuals recover their lost items, we contribute to a campus culture that values personal
                        belongings and encourages mutual assistance among our diverse community members.</p>
                </div>



                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Contribute</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3">
                    <h6>Find us On :</h6>
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/lavasa.christuniversity/"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/christlavasa?lang=en"><i
                                    class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="https://www.instagram.com/christ_university_lavasa/?hl=en"><i
                                    class="fa fa-instagram"></i></a></li>
                        <li><a class="linkedin"
                                href="https://www.linkedin.com/company/christ-institute-of-management-cim-lavasa/?originalSubdomain=in"><i
                                    class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
                        <a href="https://lavasa.christuniversity.in/">ChristUniversity</a>.
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>