{% extends 'base.html' %} {% load static %} {% block content %}


<br>
<div class="login" style="padding: 40px;">
    <h2>Login Page</h2><br> {% csrf_token %}
    <form id="login" method="POST" action="login.php">
        <label><b>User Name
            </b>
        </label>
        <input type="text" name="username" id="Uname" placeholder="Username">
        <br><br>
        <label><b>Password
            </b>
        </label>
        <input type="Password" name="password" id="Pass" placeholder="Password">
        <br><br>
        <input type="button" name="login" id="log" value="Log In Here">
        <br><br>
        <input type="checkbox" id="check">
        <span>Remember me</span>
        <br><br>
        <a href="#">Forgot Password</a>
    </form>

</div>
<br> {% endblock content %}