{% extends 'base.html' %} {% load static %} {% block head_title %}Lost and Found{% endblock %} {% block content %}


<!-- <form class="mt-4" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
        <label class="form-check-label" for="exampleCheck1"><a href="#">Agree terms and conditions</a></label>
    </div> -->

<link rel="stylesheet" href="{% static 'foundForm.css' %}">

<section>

    {% if form.errors %}
    <div class="alert alert-danger text-center" role="alert">
        {{ form.errors }}
    </div>
    {% endif %}


    <div class="container" id="main-container">
        <div class="image">
            <img src="{% static 'images/register.jpg' %}" alt="">
        </div>

        <div class="container p-5 mt-5" id="form-container">

            <h1 class="text-center">Resgister Here <i class="far fa-smile-beam"></i></h1>
            <form class="mt-4" method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary" id="inputGroup-sizing-default">Full
                            Name*</span>
                    </div>
                    {{ form.full_name }}
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary" id="inputGroup-sizing-default">Email*</span>
                    </div>
                    {{ form.email }}
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary" id="inputGroup-sizing-default">Phone
                            No.</span>
                    </div>
                    {{ form.phone_number }}
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary" id="inputGroup-sizing-default">Sex*</span>
                    </div>
                    {{ form.sex }}
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary" id="inputGroup-sizing-default">Year*</span>
                    </div>
                    {{ form.year }}
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary" id="inputGroup-sizing-default">Branch*</span>
                    </div>
                    {{ form.branch }}
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary" id="inputGroup-sizing-default">Password*</span>
                    </div>

                    {{ form.password1 }}

                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary" id="inputGroup-sizing-default">Confirm
                            Password*</span>
                    </div>

                    {{ form.password2 }}
                </div>

                <div class="submit-button text-center">
                    <button type="submit" class="btn btn-outline-primary ">Submit</button>
                </div>
            </form>
        </div>

    </div>

</section>


{% endblock content %}