{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/Style1.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundForm.css' %}"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https: //fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lemon&family=Monoton&family=Montserrat:ital,wght@0,200;0,400;0,500;1,300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- mdbootstrap -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="node_modules/mdbootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css" />
    <link rel="stylesheet" href="node_modules/mdbootstrap/css/style.css" />
    <title>Home</title>

    <!--font Awesome ... for button icon-->
    <script src="https://kit.fontawesome.com/9973cec642.js" crossorigin="anonymous"></script>

</head>



<body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
        <a class="navbar-brand grow" href="{% url 'index' %}">gotLost</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item grow">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item grow">
                    <a class="nav-link" href="{% url 'items' %}">Items</a>
                </li>
                <li class="nav-item grow">
                    <a class="nav-link" href="{% url 'lostForm' %}">Lost</a>
                </li>
                <li class="nav-item grow">
                    <a class="nav-link" href="{% url 'foundForm' %}">Found</a>
                </li>
                <li class="nav-item grow">
                    <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
                </li>

                <li class="nav-item grow">
                    <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
                </li>
            </ul>

            <div class="signin-buttons" style="justify-content: flex-end;">
                <a href="{% url 'login' %}"><i class="fas fa-user signin grow ">Log In</i></a>
                <a href="{% url 'register' %}"><i class="fas fa-user signin grow ">Register</i></a>
            </div>



        </div>
    </nav>

    <main>
        {% block content %} {% endblock content %}

    </main>

    <footer id="page-footer" class="py-2 bg-dark">
        <div class="brand">
            <a class="navbar-brand" href="{% url 'index' %}">gotLost</a>
        </div>
        <div class="copyright">
            <small>
                <span>Copyright &copy;</span> <span>All Rights Reserved</span>
                <span>Terms of Use</span> and <span>Privacy Policy</span></small>
        </div>
        <br>
        <hr>
        <div class="favicon">

            <a href="https://www.facebook.com/lavasa.christuniversity" target="_blank"><i
                    class="social-media fab fa-facebook-f fa-2x"></i></a>
            <a href="https://twitter.com/christlavasa?lang=en" target="_blank"><i
                    class="social-media fab fa-twitter fa-2x"></i></a>
            <a href="https://www.instagram.com/christ_university_lavasa/?hl=en" target="_blank"><i
                    class="social-media fab fa-instagram fa-2x"></i></a>
            <a href="https://lavasa.christuniversity.in/" target="_blank"><i
                    class="social-media fas fa-envelope fa-2x"></i></a>


        </div>
        <br>
        <div class="BackToTop">
            <!-- <a id="back-to-top" href="#" role="button"><i class="back fas fa-chevron-up fa-2x"></i></a>
            <h4>Back To Top</h4> -->
        </div>

    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- mdbootstrap -->
    <script type="text/javascript" src="node_modules/mdbootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/mdbootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="node_modules/mdbootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="node_modules/mdbootstrap/js/mdb.min.js"></script>


</body>

</html>