{% extends 'lost_and_found/Auth/layouts/base.html' %} {% load static %} {% block content %}
<!--data tables-->
<div class="m-3">
    <!--it was container as the class instead of m-3-->
    <h1 class="ml-3">Datatables</h1>
    <table id=" datatable "></table>
</div>
</div>


<!-- <div class="spinner-border " role="status ">
                <span class="visually-hidden ">Loading...</span>
            </div> -->

</body>
<script>
    const dataTable = new simpleDatatables.DataTable("#mytable ", {
        searchable: true,
        fixedHeight: true,
        data: {
            headings: ["Register Number ", "Department ", "Item Name ", "Item Category ", "Lost Date "]
        }
    })

    dataTable.rows.add([])
    dataTable.columns.hide([])
</script>


</html>
</div>{% endblock content %} {% block scripts %}
<script type="module " src="{% static 'js/datatable.js' %} "></script>{% endblock scripts %}